{% extends "base.html" %}
{% load crispy_forms_tags %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<!--Main div to center and add background consistently throughout website -->
<div class="index-content background">
  <!--spacer to push page below navbar-->
  <div class="spacer py-5"></div>
<h1>{% trans "Sign In" %}</h1>


{% blocktrans %}
<p>You must be signed in to leave a comment or create a testimonial</p>
<p>If you have not created an account yet, then please
<a href="{{ signup_url }}">sign up</a> first.  
 {% endblocktrans %}</p>


<form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {{ form|crispy }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
  <button class="p-1 rounded border border-2 border-dark" type="submit">{% trans "Sign In" %}</button>
</form>
</div>

{% endblock %}
