@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&family=Montserrat:wght@400;700&display=swap');

/* Colour Palette */
:root {
    --black: #000000;
    --white: #FCFCFC;
    --crayolaYellow: #FFFFAB;
    --greyfive: #e2dbdb;
  }

.grey-bg {
    background-color: var(--greyfive);
  }

.yellow-bg {
  background-color: var(--crayolaYellow);
}

/* Main */

* {
  font-family: 'Montserrat', sans-serif;
  color: var(--black);
  font-size: 1rem;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} */

body {
   
    display: flex;
    flex-direction: column;
    min-height: 100vh;  
      
  }

.background {
  flex: 1 0 auto;
  background-image: url(https://res.cloudinary.com/rockymiss/image/upload/v1662305566/connectconsulting/halfcircle_lgjwfg.png);
  background-repeat: no-repeat;
  background-size: auto;
  margin-top: 3em;
}



/*Header nav bar styles*/
nav, footer {
    padding: 0;
    margin: 0;
    color: #000000;
  }

.dropdown-menu {
    padding: 0 !important;
    width: fit-content !important;
  }

.nav-item {
  padding: 0 1rem !important;
}


/*Footer styles*/
.footer-item {
    justify-content: space-between;
    margin-top: auto !important;
  }
  
footer {
    flex-shrink: 0;
  }
  
/* over write bootstrap footer style */
.d-flex.align-content-end {
    justify-content: space-around;
  }

/* Logo */
  .connect-logo {

    width: 180px;
    padding: 0;

  }

/*Content Styles*/

.index-content {
  display: flex;
  flex-direction: column;
  padding: 0 1em;
}

.index-content-inside {
  padding-top: 1em;
}


/*Hides elements when not needed*/  
.hide {
    display: none;
}

/*Responsiveness*/

@media screen and (min-width: 1000px) {
  .index-content {

  padding: 1em 10em;
}  

.index-content-inside {
  padding-top: 3em;
}

.connect-logo {

  width: 230px;

}
}
 




