@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&family=Montserrat:wght@400;700&display=swap');

/* Colour Palette */
:root {
    --black: #000000;
    --white: #FCFCFC;
    --crayolaYellow: #FFFFAB;
    --greyfive: #e2dbdb;
  }

.grey-bg {
    background-color: var(--greyfive) !important;
  }

.grey-bg-t {
  background-color: var(--greytrans);
}

.yellow-bg {
  background-color: var(--crayolaYellow);
}

.background-grad {
  background: linear-gradient(90deg, hsla(60, 100%, 84%, 1) 5%, hsla(0, 0%, 95%, 1) 41%, hsla(0, 0%, 0%, 1) 100%, hsla(0, 0%, 99%, 1) 100%, hsla(0, 0%, 5%, 1) 100%);
}


/* Main */

* {
  font-family: 'Montserrat', sans-serif;
  color: var(--black);
  font-size: 1rem;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
   
    display: flex;
    flex-direction: column;
    min-height: 100vh;  
      
  }

.background {
  flex: 1 0 auto;
  background-image: url(https://res.cloudinary.com/rockymiss/image/upload/v1662305566/connectconsulting/halfcircle_lgjwfg.png);
  background-repeat: no-repeat;
  background-size: auto;
  margin-top: 3em;
}



/*Header nav bar styles*/
nav, footer {
    padding: 0;
    margin: 0;
    color: #000000;
  }

.dropdown-menu {
    padding: 0 !important;
    width: fit-content !important;
  }

.nav-item {
  padding: 0 1rem !important;
}


/*Footer styles*/
.footer-item {
    justify-content: space-between;
    margin-top: auto !important;
  }
  
footer {
    flex-shrink: 0;
  }
  
.d-flex.align-content-end {
    justify-content: space-around;
  }

/* Logo and images*/
  .connect-logo {

    width: 180px;
    padding: 0;
  }

/*Content Styles*/

.index-content {
  display: flex;
  flex-direction: column;
  padding: 0 1em;
  text-align: left;
}

.index-content-inside {
  padding-top: 1em;
}

/*Bootstrap Accordion*/

/*changes color on arrow*/
.accordion-button:after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}

/*About Page*/

.heading-about {
  text-align: center;
}


/*Hides elements when not needed*/  
.hide {
    display: none;
}

/*Responsiveness*/

@media screen and (min-width: 1000px) {
  .index-content {

  padding: 1em 10em;
}  

.index-content-inside {
  padding-top: 3em;
}

.connect-logo {

  width: 230px;

}
}