{% extends "base.html" %} {% load static %} {% block title %}
<title>Delete Blog</title>
{% endblock %}


{% block content %}
<!--Main div to center and add background consistently throughout website -->
<div class="index-content background">
      <!--spacer to push page below navbar-->
      <div class="spacer py-5"></div>
        <h1 class="display-6 align-self-center">Delete Blog</h1>
        <!--Form to delete blog-->

        <form method="post" class="text-center mb-2">
            {% csrf_token %}
            <p> Are you sure {{ user.username }}, that you would like to <strong>delete</strong> this blog? </p>
            <input class="grey-bg rounded p-1 fw-bold border-1" type="submit" value="Yes">
        </form>    

        <form class="text-center" method="GET" action="{% url 'blog' %}">
            <input class="grey-bg rounded p-1 fw-bold border-1" type="submit" value="Go Back">
          </form>

            
</div>             
{% endblock %}