{% extends "base.html" %} {% load static %} {% block title %}
<title>About</title>
{% endblock %}


{% block content %}
<div>
    <div class="page-overlay d-flex flex-column align-items-center mt-6 background">
        <!--spacer to push page below navbar-->
    <div class="spacer py-5"></div>

    <div class="container index-content">
      <div class="row align-items-center">
        <div class="col-md-4 align-self-center pt-3">
          <img class="image-hugh"
                  src="https://res.cloudinary.com/rockymiss/image/upload/v1663286921/connectconsulting/COM22028_655LdIn_usu5te.jpg"
  
                  alt="Image of Hugh Murray leaning up against a wall with a glass of red wine"
                  style='height: 100%; width: 100%; object-fit: contain'/>
                  
        </div>
        
        <div class="col-md-8 align-self-center py-4">
          <h1 class="heading-about">WHO are we?</h1>
        </div>
        <div class="row align-items-start">
          <div class="col-md-12 pt-3">
    <p><strong>Connect Consulting</strong> was created and founded by Hugh Murray, one of the cofounders and directors of Classic
    Drinks.
    
    It stemmed from a huge desire to help businesses to grow and reach their full potential. It was going to solely
    focused on “Art of creative service”
    
    After working with a number of clients, it was quickly seen that businesses were looking for more help in lines
    of Strategic Planning & Creative Thinking, Sales and Marketing.
    
    At <strong>Connect Consulting</strong> we help our clients identify their issues, develop solutions and take remedial action. Its
    about thinking strategically and acting decisively.
    
    We help our clients achieve better business results through innovative thinking and problem solving. We
    create a meaningful impact in the lives of our clients.
    
    What sets us apart is a real genuine passion for helping others.
    
    People are thoroughly the link to a successful business. It’s about the real understanding that Customer Service
    starts with your staff then suppliers and then the customers.
    
    With <strong>Connect Consulting</strong> with really do connect the dots of business through people.
    </p>
    </div>
    </div>

        



<div class="row align-items-start py-4">
<div class="col">
  <h1 class="heading-about">WHAT do we offer?</h1>

<p><p>Hugh has over 30 years of hard business experience. His last venue was cofounding a drinks company and
  helping grow its sales to almost €50 million and then selling it on to the biggest food company in the world.
  
  A lot of what is thought through <strong>Connect Consulting</strong> stemmed from Hugh’s vast experiences IN BUSINESS,
  be they GOOD or BAD.
  
  Strategic Planning through Strategic Thinking
  
  Goal Setting that is Measurable, Accountable and Attainable.
  
  RPM – Rapid Planning Method
  
  Effective Decision Making through Creative Thinking
  
  The True Art of Outstanding Service & Creating Raving Fans
  
  Sales Planning, Structure and Training. Finding the USP
  
  Motivational Speaking
  
  Identifying problems – Generating solutions
  
  Improve Organisational Efficiency
  
  WHERE can we help & where do we work?
  
  We work with businesses that:
  
  Know they are underperforming
  
  Have no real business plan and need to do some strategic planning
  
  Have hit a wall with momentum and are struggling to have self and staff motivated and driven
  
  Who need to create an effective results-driven sales strategy plan
  
  Who want to create an outstanding customer experience
  
  Who need help setting measurable, accountable achievable goals
  
  Who need help to optimise their business opportunities
  
  Who want to create a better work–life balance
  
  Who really want to grow their business and people to the full potential
  
  Who want to stand out in the crowd and are daring to be different.
  
  <strong>Connect Consulting</strong> work throughout the island of Ireland, but also work in England and Spain.
  </p>
</div>


</div>
<div class="row align-items-start">
<div class="col">
  <h1 class="heading-about">WHY work with us?:</h1>

<p>Because we have a very strong proven record of:
    
  Hugh has been part of creating a multi-million euro business from scratch and selling for a profit.
  
  Becoming a leader in the specialised field
  
  Becoming an award-winning business
  
  Overcoming major business and personal obstacles.
  
  Creating an effective sales strategy that works
  
  Working in many different fields of business
  
  Managing a large number of staff
  
  Knowing how make a business stand out from the crowd and grow and be profitable.
  
  Really caring about our business and what we do for our clients
  
  Because we talk openly and very honestly to our clients, we do not do lip service.
  
  Taking our business personal. Business is personal and it always has been. People make business.
  
  Because we deliver RESULTS.
</p>


</div>
</div>


    
    
    
    
    
    
    
    
</div>
</div>
</div>

    
{% endblock %}

