{% extends "base.html" %} {% load static %} {% block title %}
<title>Delete Comment</title>
{% endblock %}


{% block content %}
<!--Main div to center and add background consistently throughout website -->
<div class="index-content background">
    <!--spacer to push page below navbar-->
    <div class="spacer py-5"></div>

<!--Form to delete comment -->
<form method="post" class="text-center">
    {% csrf_token %}
    <p> Are you sure {{ user.username }}, that you would like to <strong>delete</strong> this comment? {{ comment.comment_body }}</p>
    <input class="grey-bg rounded p-1 fw-bold border-1" type="submit" value="Yes">
    <div><br>
        <a href="{% url 'review_comments' %}">
            <button type="button" class="grey-bg rounded p-1 fw-bold border-1">Go Back</button></a>
        </div>
</div>

    
{% endblock %}