{% extends "base.html" %} {% load static %} {% block title %}
<title>Connect Consulting</title>
{% endblock %}


{% block content %}
<div class="main-content background">
      <div class="spacer py-3"></div>
     
      <div class="index-content">
            <div class="row text-center">
                  <div class="col"><img src="http://res.cloudinary.com/rockymiss/image/upload/v1663501631/connectconsulting/hosp-special-logo_vgqnax.png" alt="Logo image with CC logo in the background with words hospitality experts"></div>
            </div>
            <div class="index-content-inside pt-1">

                        <h1 class="text-center display-6">‘Who dares wins’.</h1>
            
                        <p>Today in business it is so very true. Since the end of Covid a lot of businesses seem to be lacking the energy, enthusiasm
                        and staff that they used to have.</p>

                        <p>As CEO, GM or any form of management It can be very challenging to even find the motivation to really get stuck back
                        into the business.  This is where <strong>Connect Consulting</strong> can help. We have seen that ‘average’ and ‘mediocre’ are now the norm among so many businesses. Overall good /great service has gone by the wayside. What’s interesting is that any business that goes
                        back to what they were like at the very start of its business, passionate, energic, knowledgeable and customer-driven will
                        now be considered ‘outstanding’.</p>  
                        
                        <p>We help revive the business, ignite the spark again, dust down the cobwebs and put the shine back in and onto the business. We help create a real willingness to be different and stand out from the competition.</p>
                        
                        <p><strong>Remember:</strong> Your business standards are <strong>WHAT</strong> makes you, <strong>WHAT</strong> are you willing to accept, <strong>WHAT</strong> are you not willing to accept anymore, <strong>WHAT</strong> standards do you <strong>REALLY</strong> want?</p>

                  </div>
      </div>
</div>
    
{% endblock %}