{% extends "base.html" %} {% load static %} {% block title %}
<title>Review Testimonial</title>
{% endblock %}


{% block content %}

    


<!-- Testimonials for Approval -->

    
<div class="accordion index-content" id="accordionExample">
  <!--spacer to push page below navbar-->
<div class="spacer py-5"></div>
{% for testimonial in testimonials %}
<div class="accordion-item">
  <h2 class="accordion-header" id="headingOne">
    <button class="accordion-button background-grad" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
      <div>
      <p class="m-0">Message from:- </p>
      <p class="m-0"><strong> {{ testimonial.name }}, {{ testimonial.company_name }}</strong></p>
      <p class="m-0"><small><small><small></small>{{ testimonial.date_created }}</small></small></small></p>
    </div>
    </button>
  </h2>
  <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
    <div class="accordion-body">{{ testimonial.content | linebreaks }}</code>
      <p><a href="{% url 'approve_testimonial' testimonial.pk %}" class="btn btn-primary grey-bg border border-dark rounded text-dark p-2">Approve</a>
        <a href="{% url 'delete_testimonial' testimonial.pk %}" class="btn btn-primary grey-bg border border-dark rounded text-dark p-2">Delete</a></p>
    </div>
  </div>
</div>
{% endfor %}
</div>

{% endblock %}