{% extends "base.html" %} {% load static %} {% block title %}
<title>Review Comments</title>
{% endblock %}


{% block content %}
<!-- Reviews for Approval -->
<div>
      {% for comment in comments %}
      <h2>{{ comment.name }}</h2>
      <h2>{{ comment.comment_created }}</h2>
      <h2>{{ comment.comment_body | linebreaks }}</h2>
      <h2>{{ comment.approve}}</h2>
      <hr>
      <a href="{% url 'approve_comment' comment.pk %}" class="btn btn-primary">Approve Comment</a>
      <a href="{% url 'delete_comment' comment.pk %}" class="btn btn-primary">Delete Comment</a>
            </div>
           
      {% endfor %}
    </div>
  </section>
    
{% endblock %}