{% extends "base.html" %} {% load static %} {% block title %}
<title>Review Comments</title>
{% endblock %}


{% block content %}
<!--Main div and accordion to center and add background consistently throughout website -->
<div class="accordion index-content background" id="accordionExample">
  <!--spacer to push page below navbar-->
  <div class="spacer py-5"></div>
  <h1 class="fs-5 fw-bold"> Review Comments</h1>
    {% for comment in comments %}
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button background-grad text-reset text-wrap" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        <div class="p-0">
          <p class="m-0">
           Message from: 
          </p>
          <p class="m-0"> <strong>{{ comment.name }}</strong> ,&nbsp  
          </p>
          <p>
            <small><small>{{ comment.comment_created }}</small></small>
          </p>
        </div>
          </button>
        </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
            {{ comment.comment_body | linebreaks }}</code>
              <p>
                <a href="{% url 'approve_comment' comment.pk %}" class="btn btn-primary grey-bg border border-dark rounded text-dark p-2">Approve Comment</a>
                <a href="{% url 'delete_comment' comment.pk %}" class="btn btn-primary grey-bg border border-dark rounded text-dark p-2">Delete Comment</a>
              </p>
       
          </div>
        </div>
    </div>
    {% endfor %}
</div>
    
{% endblock %}