{% extends "base.html" %} {% load static %} {% block title %}
<title>View Messages</title>
{% endblock %}


{% block content %}
<!-- Reviews for Approval -->

    
    <div class="accordion" id="accordionExample">
        <!--spacer to push page below navbar-->
    <div class="spacer py-5"></div>
      {% for mess in getmessage %}
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Message from: <strong> {{ mess.first_name }} {{ mess.last_name }}, </strong> on {{ mess.date_created }}
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <strong>{{ mess.email }}</strong> {{ mess.message | linebreaks }}</code>
            <p><a href="{% url 'message_confirm_delete' mess.pk %}" class="btn btn-primary">Delete</a></p>
          </div>
        </div>
      </div>
      {% endfor %}
      </div>
      
    
{% endblock %}