{% extends "base.html" %} {% load static %} {% block title %}
<title>Thank you</title>
{% endblock %}


{% block content %}
<div class="index-content background justify-contents-center">
      <!--spacer to push page below navbar-->
      <div class="spacer py-5"></div>
      <div class="row align-self-center">
            <div class="col">
                  <img src="https://res.cloudinary.com/rockymiss/image/upload/c_scale,q_97,w_157/v1662062463/connectconsulting/markss_oiw4oz.png" class="connect-logo img-fluid"alt="Connect Consulting Logo in a square with the letter C twice with a circle around it">
            </div>
            <div class="col align-self-center text-center">
                  <h1 class="fs-5">Thank you for your message</h1>

            </div>
      

</div>
</div>
    
{% endblock %}